@import "../../util/style.scss";

.post {
    @include themify($themes) {
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");

        .container {
            padding: 20px;
            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .info {
                    display: flex;
                    gap: 10px;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .more-info {
                        display: flex;
                        flex-direction: column;
                        .user-name {
                            font-weight: 500;
                        }
                        .date {
                            font-size: 12px;
                        }
                    }
                }
            }
            .content {
                margin: 20px 0;
                p {
                }
                img {
                    width: 100%;
                    max-height: 500px;
                    object-fit: cover;
                    margin-top: 20px;
                }
            }
            .action {
                display: flex;
                align-items: center;
                gap: 20px;
                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }
    }
}
