@import "../../util/style.scss";

.rightbar {
    @include themify($themes) {
        flex: 3;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        background-color: themed("bgSoft");
        color: themed("textColor");

        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        .container {
            padding: 20px;

            .item {
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 20px;
                background-color: themed("bg");
                span {
                    color: themed("textColor");
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0;
                    .info {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        position: relative;
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        .online {
                            position: absolute;
                            background-color: rgb(98, 241, 98);
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            top: 0;
                            left: 30px;
                        }
                        p {
                            color: themed("textColorSoft");
                        }
                        span {
                            font-weight: 500;
                            color: themed("textColor");
                        }
                    }
                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 10px;

                        button {
                            border: none;
                            padding: 8px 10px;
                            color: #fff;
                            border-radius: 3px;
                            cursor: pointer;

                            &:first-child {
                                background-color: rgba(95, 95, 241);
                            }
                            &:last-child {
                                background-color: rgba(253, 83, 83);
                            }
                        }
                    }
                }
            }
        }
    }
}
